body {
    font-family: Sans-serif;
}

#experimentNameView {
    min-height: 20px;
    vertical-align: middle;
}

#detailViewAction {
    min-height: 60px;
    vertical-align: middle;
}

#detailView {
}

#paramView {
}

#viewer {
    min-height: 60px;
    border-style: dashed;
    border-radius: 10px;
}