html {
    overflow-y: scroll;
}

body {
    font-family: Sans-serif;
}

#sampleNameView {
    margin-bottom: 20px;
    border-bottom: solid 1px;
}

#detailViewAction {
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
}

#detailView {
    min-height: 40px;
    margin-bottom: 10px;
}

#detailViewStatus {
    display: block;
    margin-bottom: 10px;
    border-bottom: solid 1px;
}

#paramView {
    min-height: 40px;
    margin-bottom: 10px;
}

#imageViewer {
    min-height: 60px;
    margin-left: 20px;
}

#paramView table {
    text-align: center;
    font-size: 12px;
    width: 600px;
}

#paramView th, #paramView td {
    text-align: center;
    width: 60px;
}

.code {
    font-size: 12px;
}

.filesize {
    font-size: 11px;
    margin-right: 10px;
}

.filesize::before {
    content: "[ "
}

.filesize::after {
    content: " ]"
}
