html {
    overflow-y: scroll;
}

body {
    font-family: Sans-serif;
}

#sampleNameView {
    margin-bottom: 20px;
}

#detailViewAction {
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
    text-align: center;
    margin-left: 20px;
}

.action {
    margin: 1px;
}

#detailView {

}

#detailViewStatus {
    text-align: center;
    margin-bottom: 10px;
    max-height: 60px;
    display: none;
}

#paramView {
    padding-bottom: 10px;
}

#imageViewer {
    min-height: 60px;
    margin-left: 20px;
}

#paramView table {
    text-align: center;
    font-size: 12px;
    width: 600px;
}

#paramView th, #paramView td {
    text-align: center;
    width: 60px;
}

.code {
    font-size: 12px;
}

.metadataTitle {
    margin-left: 20px;
    margin-right: 10px;
    height: 20px;
    text-align: right;
    vertical-align: middle;
    width: 140px;
    float: left;
    clear: both;
}

.metadataTitleText {
    font-size: 0.8em;
    font-weight: bold;
    height: 20px;
    vertical-align: middle;
}

.metadataTitleSeries {
    font-size: 0.8em;
    font-weight: bold;
    text-decoration: underline;
}

.metadataValue {
    font-size: 0.8em;
    height: 20px;
    vertical-align: middle;
}

.panel-body-ext {
    overflow: auto;
}