body {
    font-family: Sans-serif;
}

#experimentNameView {
    min-height: 40px;
    margin-bottom: 10px;
    vertical-align: middle;
}

#experimentNameView {
    margin-bottom: 20px;
}

#experimentDescriptionView {
    margin-bottom: 10px;
}

#experimentAcquisitionDetailsView {
    margin-bottom: 10px;
}

#statusView {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    max-height: 60px;
    display: none;
}

#actionView {
    padding-bottom: 10px;
    vertical-align: middle;
    text-align: center;
}

.action {
    margin: 1px;
}

#detailView {
    min-height: 40px;
    margin-bottom: 10px;
}

#sampleView {
    margin-bottom: 20px;
}

.code {
    font-size: 12px;
}

.thumbnailView {
    min-height: 320px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.filename {
    font-size: 16px;
}

.filesize {
    font-size: 11px;
}

.filesize::before {
    content: "[ "
}

.filesize::after {
    content: " ]"
}