@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;
    src: url('Roboto-300.eot');
    src: url('Roboto-300.eot?#iefix') format('embedded-opentype'),
    local('Roboto Light'),
    local('Roboto-300'),
    url('Roboto-300.woff2') format('woff2'),
    url('Roboto-300.woff') format('woff'),
    url('Roboto-300.ttf') format('truetype'),
    url('Roboto-300.svg#Roboto') format('svg');
}

#webapp {
    font-family: 'Roboto', sans-serif;
}

#experimentNameView {
    min-height: 40px;
    margin-bottom: 10px;
    vertical-align: middle;
}

#experimentNameView {
    margin-bottom: 20px;
}

#experimentDescriptionView {
    margin-bottom: 10px;
}

#experimentAcquisitionDetailsView {
    margin-bottom: 10px;
}

#statusView {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    max-height: 60px;
    display: none;
}

#actionView {
    padding-bottom: 10px;
    vertical-align: middle;
    text-align: center;
}

#paginationText {
    float: left;
    margin-right: 10px;
    font-size: 10px;
    font-weight: bold;
    padding-top: 8px;
}

#paginationView {
}

#actionViewExpl {
    height: 20px;
    vertical-align: middle;
    text-align: center;
    font-size: 10px;
}

.action {
    margin-left: 5px;
    margin-right: 5px;
}

#detailView {
    min-height: 40px;
    margin-bottom: 10px;
}

#sampleView {
    margin-bottom: 20px;
}

.code {
    font-size: 12px;
}

.thumbnailView {
    min-height: 320px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
}

.filename {
    font-size: 16px;
}

.filesize {
    font-size: 11px;
}

.filesize::before {
    content: "[ "
}

.filesize::after {
    content: " ]"
}